/* JME.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.JME-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.JME-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.JME-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.JME-table,.JME-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.JME-table-all{border:1px solid #ccc}
.JME-bordered tr,.JME-table-all tr{border-bottom:1px solid #ddd}.JME-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.JME-table-all tr:nth-child(odd){background-color:#fff}.JME-table-all tr:nth-child(even){background-color:#f1f1f1}
.JME-hoverable tbody tr:hover,.JME-ul.JME-hoverable li:hover{background-color:#ccc}.JME-centered tr th,.JME-centered tr td{text-align:center}
.JME-table td,.JME-table th,.JME-table-all td,.JME-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.JME-table th:first-child,.JME-table td:first-child,.JME-table-all th:first-child,.JME-table-all td:first-child{padding-left:16px}
.JME-btn,.JME-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.JME-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.JME-btn,.JME-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.JME-disabled,.JME-btn:disabled,.JME-button:disabled{cursor:not-allowed;opacity:0.3}.JME-disabled *,:disabled *{pointer-events:none}
.JME-btn.JME-disabled:hover,.JME-btn:disabled:hover{box-shadow:none}
.JME-badge,.JME-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.JME-badge{border-radius:50%}
.JME-ul{list-style-type:none;padding:0;margin:0}.JME-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.JME-ul li:last-child{border-bottom:none}
.JME-tooltip,.JME-display-container{position:relative}.JME-tooltip .JME-text{display:none}.JME-tooltip:hover .JME-text{display:inline-block}
.JME-ripple:active{opacity:0.5}.JME-ripple{transition:opacity 0s}
.JME-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.JME-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.JME-dropdown-click,.JME-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.JME-dropdown-hover:hover .JME-dropdown-content{display:block}
.JME-dropdown-hover:first-child,.JME-dropdown-click:hover{background-color:#ccc;color:#000}
.JME-dropdown-hover:hover > .JME-button:first-child,.JME-dropdown-click:hover > .JME-button:first-child{background-color:#ccc;color:#000}
.JME-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.JME-check,.JME-radio{width:24px;height:24px;position:relative;top:6px}
.JME-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.JME-bar-block .JME-dropdown-hover,.JME-bar-block .JME-dropdown-click{width:100%}
.JME-bar-block .JME-dropdown-hover .JME-dropdown-content,.JME-bar-block .JME-dropdown-click .JME-dropdown-content{min-width:100%}
.JME-bar-block .JME-dropdown-hover .JME-button,.JME-bar-block .JME-dropdown-click .JME-button{width:100%;text-align:left;padding:8px 16px}
.JME-main,#main{transition:margin-left .4s}
.JME-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.JME-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.JME-bar{width:100%;overflow:hidden}.JME-center .JME-bar{display:inline-block;width:auto}
.JME-bar .JME-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.JME-bar .JME-dropdown-hover,.JME-bar .JME-dropdown-click{position:static;float:left}
.JME-bar .JME-button{white-space:normal}
.JME-bar-block .JME-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.JME-bar-block.JME-center .JME-bar-item{text-align:center}.JME-block{display:block;width:100%}
.JME-responsive{display:block;overflow-x:auto}
.JME-container:after,.JME-container:before,.JME-panel:after,.JME-panel:before,.JME-row:after,.JME-row:before,.JME-row-padding:after,.JME-row-padding:before,
.JME-cell-row:before,.JME-cell-row:after,.JME-clear:after,.JME-clear:before,.JME-bar:before,.JME-bar:after{content:"";display:table;clear:both}
.JME-col,.JME-half,.JME-third,.JME-twothird,.JME-threequarter,.JME-quarter{float:left;width:100%}
.JME-col.s1{width:8.33333%}.JME-col.s2{width:16.66666%}.JME-col.s3{width:24.99999%}.JME-col.s4{width:33.33333%}
.JME-col.s5{width:41.66666%}.JME-col.s6{width:49.99999%}.JME-col.s7{width:58.33333%}.JME-col.s8{width:66.66666%}
.JME-col.s9{width:74.99999%}.JME-col.s10{width:83.33333%}.JME-col.s11{width:91.66666%}.JME-col.s12{width:99.99999%}
@media (min-width:601px){.JME-col.m1{width:8.33333%}.JME-col.m2{width:16.66666%}.JME-col.m3,.JME-quarter{width:24.99999%}.JME-col.m4,.JME-third{width:33.33333%}
.JME-col.m5{width:41.66666%}.JME-col.m6,.JME-half{width:49.99999%}.JME-col.m7{width:58.33333%}.JME-col.m8,.JME-twothird{width:66.66666%}
.JME-col.m9,.JME-threequarter{width:74.99999%}.JME-col.m10{width:83.33333%}.JME-col.m11{width:91.66666%}.JME-col.m12{width:99.99999%}}


@media (min-width:993px){.JME-col.l1{width:8.33333%}.JME-col.l2{width:16.66666%}.JME-col.l3{width:4%}.JME-col.l4{width:33.33333%}


.JME-col.l5{width:41.66666%}.JME-col.l6{width:49.99999%}.JME-col.l7{width:58.33333%}.JME-col.l8{width:66.66666%}
.JME-col.l9{width:74.99999%}.JME-col.l10{width:83.33333%}.JME-col.l11{width:91.66666%}.JME-col.l12{width:99.99999%}}
.JME-rest{overflow:hidden}.JME-stretch{margin-left:-16px;margin-right:-16px}
.JME-content,.JME-auto{margin-left:auto;margin-right:auto}.JME-content{max-width:980px}.JME-auto{max-width:1140px}
.JME-cell-row{display:table;width:100%}.JME-cell{display:table-cell}
.JME-cell-top{vertical-align:top}.JME-cell-middle{vertical-align:middle}.JME-cell-bottom{vertical-align:bottom}
.JME-hide{display:none!important}.JME-show-block,.JME-show{display:block!important}.JME-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.JME-auto{max-width:95%}}
@media (max-width:600px){.JME-modal-content{margin:0 10px;width:auto!important}.JME-modal{padding-top:30px}
.JME-dropdown-hover.JME-mobile .JME-dropdown-content,.JME-dropdown-click.JME-mobile .JME-dropdown-content{position:relative}	
.JME-hide-small{display:none!important}.JME-mobile{display:block;width:100%!important}.JME-bar-item.JME-mobile,.JME-dropdown-hover.JME-mobile,.JME-dropdown-click.JME-mobile{text-align:center}
.JME-dropdown-hover.JME-mobile,.JME-dropdown-hover.JME-mobile .JME-btn,.JME-dropdown-hover.JME-mobile .JME-button,.JME-dropdown-click.JME-mobile,.JME-dropdown-click.JME-mobile .JME-btn,.JME-dropdown-click.JME-mobile .JME-button{width:100%}}
@media (max-width:768px){.JME-modal-content{width:500px}.JME-modal{padding-top:50px}}
@media (min-width:993px){.JME-modal-content{width:900px}.JME-hide-large{display:none!important}.JME-sidebar.JME-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.JME-hide-medium{display:none!important}}
@media (max-width:992px){.JME-sidebar.JME-collapse{display:none}.JME-main{margin-left:0!important;margin-right:0!important}.JME-auto{max-width:100%}}
.JME-top,.JME-bottom{position:fixed;width:100%;z-index:1}.JME-top{top:0}.JME-bottom{bottom:0}
.JME-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.JME-display-topleft{position:absolute;left:0;top:0}.JME-display-topright{position:absolute;right:0;top:0}
.JME-display-bottomleft{position:absolute;left:0;bottom:0}.JME-display-bottomright{position:absolute;right:0;bottom:0}
.JME-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.JME-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.JME-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.JME-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.JME-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.JME-display-container:hover .JME-display-hover{display:block}.JME-display-container:hover span.JME-display-hover{display:inline-block}.JME-display-hover{display:none}
.JME-display-position{position:absolute}
.JME-circle{border-radius:50%}
.JME-round-small{border-radius:2px}.JME-round,.JME-round-medium{border-radius:4px}.JME-round-large{border-radius:8px}.JME-round-xlarge{border-radius:16px}.JME-round-xxlarge{border-radius:32px}
.JME-row-padding,.JME-row-padding>.JME-half,.JME-row-padding>.JME-third,.JME-row-padding>.JME-twothird,.JME-row-padding>.JME-threequarter,.JME-row-padding>.JME-quarter,.JME-row-padding>.JME-col{padding:0 8px}
.JME-container,.JME-panel{padding:0.01em 16px}.JME-panel{margin-top:16px;margin-bottom:16px}
.JME-code,.JME-codespan{font-family:Consolas,"courier new";font-size:16px}
.JME-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.JME-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.JME-card,.JME-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.JME-card-4,.JME-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.JME-spin{animation:JME-spin 2s infinite linear}@keyframes JME-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.JME-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.JME-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.JME-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.JME-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.JME-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.JME-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.JME-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.JME-animate-input{transition:width 0.4s ease-in-out}.JME-animate-input:focus{width:100%!important}
.JME-opacity,.JME-hover-opacity:hover{opacity:0.60}.JME-opacity-off,.JME-hover-opacity-off:hover{opacity:1}
.JME-opacity-max{opacity:0.25}.JME-opacity-min{opacity:0.75}
.JME-greyscale-max,.JME-grayscale-max,.JME-hover-greyscale:hover,.JME-hover-grayscale:hover{filter:grayscale(100%)}
.JME-greyscale,.JME-grayscale{filter:grayscale(75%)}.JME-greyscale-min,.JME-grayscale-min{filter:grayscale(50%)}
.JME-sepia{filter:sepia(75%)}.JME-sepia-max,.JME-hover-sepia:hover{filter:sepia(100%)}.JME-sepia-min{filter:sepia(50%)}
.JME-tiny{font-size:10px!important}.JME-small{font-size:12px!important}.JME-medium{font-size:15px!important}.JME-large{font-size:18px!important}
.JME-xlarge{font-size:24px!important}.JME-xxlarge{font-size:36px!important}.JME-xxxlarge{font-size:48px!important}.JME-jumbo{font-size:64px!important}
.JME-left-align{text-align:left!important}.JME-right-align{text-align:right!important}.JME-justify{text-align:justify!important}.JME-center{text-align:center!important}
.JME-border-0{border:0!important}.JME-border{border:1px solid #ccc!important}
.JME-border-top{border-top:1px solid #ccc!important}.JME-border-bottom{border-bottom:1px solid #ccc!important}
.JME-border-left{border-left:1px solid #ccc!important}.JME-border-right{border-right:1px solid #ccc!important}
.JME-topbar{border-top:6px solid #ccc!important}.JME-bottombar{border-bottom:6px solid #ccc!important}
.JME-leftbar{border-left:6px solid #ccc!important}.JME-rightbar{border-right:6px solid #ccc!important}
.JME-section,.JME-code{margin-top:16px!important;margin-bottom:16px!important}
.JME-margin{margin:16px!important}.JME-margin-top{margin-top:16px!important}.JME-margin-bottom{margin-bottom:16px!important}
.JME-margin-left{margin-left:16px!important}.JME-margin-right{margin-right:16px!important}
.JME-padding-small{padding:4px 8px!important}.JME-padding{padding:8px 16px!important}.JME-padding-large{padding:12px 24px!important}
.JME-padding-16{padding-top:16px!important;padding-bottom:16px!important}.JME-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.JME-padding-32{padding-top:32px!important;padding-bottom:32px!important}.JME-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.JME-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.JME-left{float:left!important}.JME-right{float:right!important}
.JME-button:hover{color:#000!important;background-color:#ccc!important}
.JME-transparent,.JME-hover-none:hover{background-color:transparent!important}
.JME-hover-none:hover{box-shadow:none!important}
/* Colors */
.JME-amber,.JME-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.JME-aqua,.JME-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.JME-blue,.JME-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.JME-light-blue,.JME-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.JME-brown,.JME-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.JME-cyan,.JME-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.JME-blue-grey,.JME-hover-blue-grey:hover,.JME-blue-gray,.JME-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.JME-green,.JME-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.JME-light-green,.JME-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.JME-indigo,.JME-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.JME-khaki,.JME-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.JME-lime,.JME-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.JME-orange,.JME-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.JME-deep-orange,.JME-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.JME-pink,.JME-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.JME-purple,.JME-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.JME-deep-purple,.JME-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.JME-red,.JME-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.JME-sand,.JME-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.JME-teal,.JME-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.JME-yellow,.JME-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.JME-white,.JME-hover-white:hover{color:#000!important;background-color:#fff!important}
.JME-black,.JME-hover-black:hover{color:#fff!important;background-color:#000!important}
.JME-grey,.JME-hover-grey:hover,.JME-gray,.JME-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.JME-light-grey,.JME-hover-light-grey:hover,.JME-light-gray,.JME-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.JME-dark-grey,.JME-hover-dark-grey:hover,.JME-dark-gray,.JME-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.JME-pale-red,.JME-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.JME-pale-green,.JME-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.JME-pale-yellow,.JME-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.JME-pale-blue,.JME-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.JME-text-amber,.JME-hover-text-amber:hover{color:#ffc107!important}
.JME-text-aqua,.JME-hover-text-aqua:hover{color:#00ffff!important}
.JME-text-blue,.JME-hover-text-blue:hover{color:#2196F3!important}
.JME-text-light-blue,.JME-hover-text-light-blue:hover{color:#87CEEB!important}
.JME-text-brown,.JME-hover-text-brown:hover{color:#795548!important}
.JME-text-cyan,.JME-hover-text-cyan:hover{color:#00bcd4!important}
.JME-text-blue-grey,.JME-hover-text-blue-grey:hover,.JME-text-blue-gray,.JME-hover-text-blue-gray:hover{color:#607d8b!important}
.JME-text-green,.JME-hover-text-green:hover{color:#4CAF50!important}
.JME-text-light-green,.JME-hover-text-light-green:hover{color:#8bc34a!important}
.JME-text-indigo,.JME-hover-text-indigo:hover{color:#3f51b5!important}
.JME-text-khaki,.JME-hover-text-khaki:hover{color:#b4aa50!important}
.JME-text-lime,.JME-hover-text-lime:hover{color:#cddc39!important}
.JME-text-orange,.JME-hover-text-orange:hover{color:#ff9800!important}
.JME-text-deep-orange,.JME-hover-text-deep-orange:hover{color:#ff5722!important}
.JME-text-pink,.JME-hover-text-pink:hover{color:#e91e63!important}
.JME-text-purple,.JME-hover-text-purple:hover{color:#9c27b0!important}
.JME-text-deep-purple,.JME-hover-text-deep-purple:hover{color:#673ab7!important}
.JME-text-red,.JME-hover-text-red:hover{color:#f44336!important}
.JME-text-sand,.JME-hover-text-sand:hover{color:#fdf5e6!important}
.JME-text-teal,.JME-hover-text-teal:hover{color:#009688!important}
.JME-text-yellow,.JME-hover-text-yellow:hover{color:#d2be0e!important}
.JME-text-white,.JME-hover-text-white:hover{color:#fff!important}
.JME-text-black,.JME-hover-text-black:hover{color:#000!important}
.JME-text-grey,.JME-hover-text-grey:hover,.JME-text-gray,.JME-hover-text-gray:hover{color:#757575!important}
.JME-text-light-grey,.JME-hover-text-light-grey:hover,.JME-text-light-gray,.JME-hover-text-light-gray:hover{color:#f1f1f1!important}
.JME-text-dark-grey,.JME-hover-text-dark-grey:hover,.JME-text-dark-gray,.JME-hover-text-dark-gray:hover{color:#3a3a3a!important}
.JME-border-amber,.JME-hover-border-amber:hover{border-color:#ffc107!important}
.JME-border-aqua,.JME-hover-border-aqua:hover{border-color:#00ffff!important}
.JME-border-blue,.JME-hover-border-blue:hover{border-color:#2196F3!important}
.JME-border-light-blue,.JME-hover-border-light-blue:hover{border-color:#87CEEB!important}
.JME-border-brown,.JME-hover-border-brown:hover{border-color:#795548!important}
.JME-border-cyan,.JME-hover-border-cyan:hover{border-color:#00bcd4!important}
.JME-border-blue-grey,.JME-hover-border-blue-grey:hover,.JME-border-blue-gray,.JME-hover-border-blue-gray:hover{border-color:#607d8b!important}
.JME-border-green,.JME-hover-border-green:hover{border-color:#4CAF50!important}
.JME-border-light-green,.JME-hover-border-light-green:hover{border-color:#8bc34a!important}
.JME-border-indigo,.JME-hover-border-indigo:hover{border-color:#3f51b5!important}
.JME-border-khaki,.JME-hover-border-khaki:hover{border-color:#f0e68c!important}
.JME-border-lime,.JME-hover-border-lime:hover{border-color:#cddc39!important}
.JME-border-orange,.JME-hover-border-orange:hover{border-color:#ff9800!important}
.JME-border-deep-orange,.JME-hover-border-deep-orange:hover{border-color:#ff5722!important}
.JME-border-pink,.JME-hover-border-pink:hover{border-color:#e91e63!important}
.JME-border-purple,.JME-hover-border-purple:hover{border-color:#9c27b0!important}
.JME-border-deep-purple,.JME-hover-border-deep-purple:hover{border-color:#673ab7!important}
.JME-border-red,.JME-hover-border-red:hover{border-color:#f44336!important}
.JME-border-sand,.JME-hover-border-sand:hover{border-color:#fdf5e6!important}
.JME-border-teal,.JME-hover-border-teal:hover{border-color:#009688!important}
.JME-border-yellow,.JME-hover-border-yellow:hover{border-color:#ffeb3b!important}
.JME-border-white,.JME-hover-border-white:hover{border-color:#fff!important}
.JME-border-black,.JME-hover-border-black:hover{border-color:#000!important}
.JME-border-grey,.JME-hover-border-grey:hover,.JME-border-gray,.JME-hover-border-gray:hover{border-color:#9e9e9e!important}
.JME-border-light-grey,.JME-hover-border-light-grey:hover,.JME-border-light-gray,.JME-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.JME-border-dark-grey,.JME-hover-border-dark-grey:hover,.JME-border-dark-gray,.JME-hover-border-dark-gray:hover{border-color:#616161!important}
.JME-border-pale-red,.JME-hover-border-pale-red:hover{border-color:#ffe7e7!important}.JME-border-pale-green,.JME-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.JME-border-pale-yellow,.JME-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.JME-border-pale-blue,.JME-hover-border-pale-blue:hover{border-color:#e7ffff!important}

body {
    color: #000000;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    font-size: 0.875rem;
}
